{% extends "base.html" %}
{#{% block main_title %}Book{% endblock %}#}
{% block main %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        {% if list %}
            <h6 class="border-bottom border-gray pb-2 mb-3">Book</h6>

            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-0">
                    <label for="search" class="sr-only">Search for:</label>
                    <input type="search" class="form-control" id="search" name="search"
                           placeholder="Search..." aria-label="Search for...">
                </div>
            </form>

            {% for model in list %}
                <div class="media text-muted pt-3">
                    <a href="{% url 'book_edit' model.id %}">
                        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                             xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                             aria-label="Placeholder: 32x32">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#007bff"></rect>
                            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                        </svg>
                    </a>
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a href="{% url 'book_edit' model.id %}"><strong
                                    class="text-gray-dark">{{ model.title }}</strong></a>
                            <a href="{% url 'book_edit' model.id %}">Edit</a>
                        </div>
                        {#<span class="d-block">{{ model.nickname }}</span>#}
                    </div>
                </div>
            {% endfor %}

            <small class="d-block text-right mt-3">
                <a href="{% url 'book_new' %}" class="btn btn-primary">New book</a>
            </small>
        {% else %}
            {% if search_for %}
                <p>No records to show.</p>
                <a href="{% url 'book_list' %}" class="btn btn-secondary">Back</a>
            {% else %}
                <p>No records to show. How about creating the first one?</p>
                <p><a href="{% url 'book_new' %}" class="btn btn-primary">New book</a></p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}