[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
pre-commit = "*"
black = "*"
isort = "*"

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
pytest-django = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
