[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
pre-commit = "*"
black = "*"
isort = "*"
codecov = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
python-decouple = "*"
dj-database-url = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"
djoser = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
