[flake8]
max-complexity = 10
max-line-length = 120
select = C,E,F,W,B,B950
ignore =
       # Use bugbear line length detection instead of default
       E501,
       # PEP8 allows hanging indent, but E126 dosn't seem to.
       E126,